<div class="container">
    <div class="section mt-5">
        <div class="d-flex justify-content-center">
            <a href="/compose">
                <button class="compose-btn">COMPOSE</button></a>
        </div>
    </div>

    <div class="section">
        <div class="row">

            {{#each data.diary}}
            <div class="col-sm-4 mt-4">
                <div class="card border-3 rounded border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{this.date}}</h5>
                        <hr>
                        <p class="card-text">{{this.limitContent}}...</p>
                        <a href="/view/{{this.date}}" class="btn view-btn w-100">View</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>