<div class="section">
    <div class="row">

        {{#each diary}}
        <div class="col-sm-4 mt-4">
            <div class="card border-3 rounded border-secondary">
                <div class="card-body">
                    <div class="card-title d-flex bd-highlight">
                        <h2 class="flex-grow-1 bd-highlight">{{this.date}}</h2>
                        <a href="/edit"><img class="bd-highlight" src="icons/edit.svg" style="height: 2.5rem;"></a>
                        <a href="/delete/{{this._id}}"><img class="bd-highlight" src="icons/delete.svg" style="height: 2.5rem;"></a>
                    </div>
                    <hr>
                    <p class="card-text">{{this.limitContent}}...</p>
                    <a href="/view" class="btn view-btn w-100">View</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>