<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control border-secondary border-3 mb-3" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Second Name</label>
            <input type="text" class="form-control border-secondary border-3 mb-3" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter second name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control border-secondary border-3" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control  border-secondary border-3 mb-3" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="submit-btn rounded">Submit</button>
    </form> 
</div>