body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 5rem !important;
  font-style: normal;
}

.nav-item {
  font-size: 1.2rem !important;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}